<%- include('./partials/header'); %>
<style>
    #cart-button {
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increased shadow blur and opacity */
}
</style>

    <body class="bg-gray-100 font-sans">
        <div class="max-w-screen-md mx-auto p-4">
            <!-- Header -->
            <div class="flex justify-between items-center py-4">
                <a href="/" class="text-lg inline-flex items-center">
                    <i class="ri-arrow-left-s-line"></i>
                </a>
                <h1 class="text-xl font-semibold">Checkout</h1>
                <button class="text-lg">Share</button>
            </div>

            <!-- Delivery Info -->
            <div class="bg-white p-4 rounded-lg shadow mb-4">
                <div class="flex items-center gap-4">
                    <i
                        class="w-10 h-10 flex items-center justify-center rounded bg-zinc-100 text-2xl ri-timer-line"></i>
                    <div>
                        <p class="text-sm font-medium">Delivery in <%= Math.floor((Math.random()*10)+3) %> minutes</p>
                        <p class="text-xs text-gray-500">Shipment of <%= cartCount %> item</p>
                    </div>
                </div>
                <% cart.forEach(elem=> { %>
                    <div class="flex items-center mt-4">
                        <img src="data:image/jpg;base64, <%= elem.image.toString('base64') %>" alt="<%= elem.name %>"
                            class="w-16 h-16 rounded">
                        <div class="ml-4">
                            <p>
                                <%= elem.name %>
                            </p>
                            <p class="text-xs text-gray-500">170 g</p>
                        </div>
                        <div class="ml-auto">
                            <div class="flex items-center justify-center bg-green-700 text-white rounded-md">
                                <a href="/cart/remove/<%= elem._id %>" class="px-2 py-1 rounded"><i
                                        class="ri-subtract-line"></i></a>
                                <p class="mx-2">
                                    <%= elem.quantity %>
                                </p>
                                <a href="/cart/add/<%= elem._id %>" class="px-2 py-1 rounded"><i
                                    class="ri-add-line"></i></a>
                            </div>
                            <div class="flex gap-2 mt-4">
                                <p class="text-gray-500 line-through">₹<%= Number(elem.price)*Number(elem.quantity)+20
                                        %>
                                </p>
                                <p>₹<%= Number(elem.price)*Number(elem.quantity)%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% })%>
            </div>

            <!-- Before You Checkout -->
            <div class="bg-white p-4 rounded-lg shadow mb-4">
                <h2 class="text-lg font-semibold">Before you checkout</h2>
                <div class="flex space-x-4 mt-4">
                    <div class="flex flex-col items-center">
                        <img src="https://www.bigbasket.com/media/uploads/p/xxl/40015993_11-uncle-chips-spicy-treat.jpg"
                            alt="Product Image" class="h-24 rounded">
                        <p class="text-sm text-center mt-2">Uncle Chipps Spicy Treat Flavour Potato Chips</p>
                        <p class="text-xs text-gray-500">48 g</p>
                        <button class="bg-green-700 text-white px-4 py-1 rounded mt-2">ADD</button>
                        <p class="text-xs mt-2">₹20</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://m.media-amazon.com/images/I/61mQ-Q7HmCL._AC_UF1000,1000_QL80_.jpg"
                            alt="Product Image" class="h-24 rounded">
                        <p class="text-sm text-center mt-2">Coca-Cola Soft Drink (300 ml)</p>
                        <p class="text-xs text-gray-500">300 ml</p>
                        <button class="bg-green-700 text-white px-4 py-1 rounded mt-2">ADD</button>
                        <p class="text-xs mt-2">₹40</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://www.dorita.se/media/catalog/product/9/0/900179-lay-s-saltet-potetgull-175g.jpg"
                            alt="Product Image" class="h-24 rounded">
                        <p class="text-sm text-center mt-2">Chheda's Golden Banana Chips (Rock Salt)</p>
                        <p class="text-xs text-gray-500">170 g</p>
                        <button class="bg-green-700 text-white px-4 py-1 rounded mt-2">ADD</button>
                        <p class="text-xs mt-2">₹85</p>
                        <p class="text-xs text-red-500">16% OFF</p>
                    </div>
                </div>
                <div class="mt-4 text-center text-white bg-green-700 py-5 px-10 rounded-md">
                    <h1 class="text-xl font-semibold">Get FREE delivery</h1>
                    <p class="text-xs">Add products worth ₹236 more</p>
                    <button
                        class="text-sm bg-zinc-200 text-black px-10 py-3 rounded-xl font-semibold capitalize mt-6">See
                        all coupons</button>
                </div>
            </div>

            <!-- Bill Details -->
            <div class="bg-white p-4 rounded-lg shadow mb-4">
                <h2 class="text-lg font-semibold">Bill details</h2>
                <div class="mt-2">
                    <div class="flex justify-between">
                        <p class="text-sm">Items total</p>
                        <p class="text-sm">₹<%= finalprice - 34 %>
                        </p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-sm">Delivery charge</p>
                        <p class="text-sm">₹30</p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-sm">Handling charge</p>
                        <p class="text-sm">₹4</p>
                    </div>
                    <div class="flex justify-between font-bold mt-2">
                        <p class="text-lg">Grand total</p>
                        <p class="text-lg">₹<%= finalprice %>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Donation -->
            <div class="bg-white p-4 rounded-lg shadow mb-4">
                <div class="flex items-center">
                    <img src="https://b.zmtcdn.com/data/fi_assets/9fbf0569f69bfef7d190c5b892ab0a521619355737.png"
                        alt="Feeding India" class="w-12 h-12 rounded">
                    <div class="ml-4">
                        <p class="font-semibold">Feeding India donation</p>
                        <p class="text-sm opacity-50">Working towards a malnutrition free India. Feeding India...<span
                                class="text-blue-500">read more</span></p>
                    </div>
                    <p class="ml-auto text-sm font-bold">₹1</p>
                </div>
            </div>

            <!-- Delivery Instructions -->
            <div class="bg-white p-4 rounded-lg shadow">
                <h2 class="text-lg font-semibold">Delivery instructions</h2>
                <div class="flex space-x-4 mt-4">
                    <button class="flex-1 flex flex-col items-center justify-center py-2 bg-gray-100 rounded">
                        <i class="ri-mic-line"></i>
                        <p class="text-sm">Record</p>
                    </button>
                    <button class="flex-1 flex flex-col items-center justify-center py-2 bg-gray-100 rounded">
                        <i class="ri-prohibited-line"></i>
                        <p class="leading-none text-sm">Avoid calling</p>
                    </button>
                    <button class="flex-1 flex flex-col items-center justify-center py-2 bg-gray-100 rounded">
                        <i class="ri-notification-off-line"></i>
                        <p class="text-sm">Don't ring the bell</p>
                    </button>
                    <button class="flex-1 flex flex-col items-center justify-center py-2 bg-gray-100 rounded">
                        <i class="ri-door-open-line"></i>
                        <p class="text-sm">Leave at door</p>
                    </button>
                </div>
            </div>

            <!-- Ordering for someone else -->
            <div class="bg-white p-4 rounded-lg shadow mt-10">Ordering for someone else? Add details</div>
            <!-- Cancellation Policy -->
            <div class="bg-white p-4 rounded-lg shadow mb-40 mt-10">
                <p class="text-sm">
                    Orders cannot be cancelled once packed for delivery. In case of unexpected delays, a refund will be
                    provided, if applicable.
                </p>
            </div>

<!-- Footer -->
<div class="bg-white p-4 rounded-lg shadow fixed bottom-0 inset-x-0">
    <div class="flex justify-between items-center">
        <div>
            <p class="text-sm">Delivering to Home</p>
            <p class="text-xs text-gray-500">
                <%= user.address ? user.address : 'Address not provided' %>
            </p>
        </div>
        <a href="/map/address/<%= userid %>" class="text-blue-500">
            <button class="text-blue-500">Change</button>
        </a>
        
    </div>

    <div class="mt-2 lg:justify-center lg:flex">
        <a id="cart-button" class="paybtn flex items-center justify-between px-4 py-2 bg-green-700 text-white rounded lg:w-6/12">
            <div class="flex items-center">
                <div class="mr-2"> <!-- Margin to the right for spacing -->
                    <svg viewBox="0 0 151.5 154.5" preserveAspectRatio="xMidYMid meet" style="max-width: 36px; height: 34px;">
                        <g>
                            <path fill-opacity="0.2" fill="#e1e1e1" d="M 35.5,-0.5 C 62.1667,-0.5 88.8333,-0.5 115.5,-0.5C 135.833,3.16667 147.833,15.1667 151.5,35.5C 151.5,63.1667 151.5,90.8333 151.5,118.5C 147.833,138.833 135.833,150.833 115.5,154.5C 88.8333,154.5 62.1667,154.5 35.5,154.5C 15.1667,150.833 3.16667,138.833 -0.5,118.5C -0.5,90.8333 -0.5,63.1667 -0.5,35.5C 3.16667,15.1667 15.1667,3.16667 35.5,-0.5 Z"></path>
                        </g>
                        <g>
                            <path fill-opacity="0.93" fill="#fdfdfd" d="M 41.5,40.5 C 45.8333,40.5 50.1667,40.5 54.5,40.5C 57.0108,51.5431 59.6775,62.5431 62.5,73.5C 74.1667,73.5 85.8333,73.5 97.5,73.5C 99.4916,67.1906 101.492,60.8573 103.5,54.5C 91.8476,53.6675 80.1809,53.1675 68.5,53C 65.8333,51 65.8333,49 68.5,47C 82.1667,46.3333 95.8333,46.3333 109.5,47C 110.578,47.6739 111.245,48.6739 111.5,50C 108.806,60.4206 105.139,70.4206 100.5,80C 88.8381,80.4999 77.1714,80.6665 65.5,80.5C 65.2865,82.1439 65.6198,83.6439 66.5,85C 78.5,85.3333 90.5,85.6667 102.5,86C 111.682,90.8783 113.516,97.7117 108,106.5C 99.0696,112.956 92.0696,111.289 87,101.5C 86.2716,98.7695 86.4383,96.1029 87.5,93.5C 83.2047,92.3391 78.8713,92.1725 74.5,93C 77.4896,99.702 75.8229,105.035 69.5,109C 59.4558,111.977 53.4558,108.31 51.5,98C 51.8236,93.517 53.8236,90.017 57.5,87.5C 58.6309,85.9255 58.7975,84.2588 58,82.5C 55,71.1667 52,59.8333 49,48.5C 46.2037,47.7887 43.3704,47.122 40.5,46.5C 39.2291,44.1937 39.5624,42.1937 41.5,40.5 Z"></path>
                        </g>
                        <g>
                            <path fill-opacity="0.2" fill="#e1e1e1" d="M 61.5,92.5 C 69.168,92.507 71.168,95.8403 67.5,102.5C 61.1974,104.363 58.3641,102.03 59,95.5C 60.045,94.6266 60.8783,93.6266 61.5,92.5 Z"></path>
                        </g>
                        <g>
                            <path fill-opacity="0.202" fill="#e1e1e1" d="M 96.5,92.5 C 101.406,91.3057 104.406,93.139 105.5,98C 103.516,103.747 100.016,104.913 95,101.5C 93.0583,98.1406 93.5583,95.1406 96.5,92.5 Z"></path>
                        </g>
                    </svg>
                </div>
                <div class="flex flex-col items-start">
                    <span class="text-sm font-medium"><%= cartCount %> Item<%= cartCount > 1 ? 's' : '' %></span> <!-- Adjust pluralization -->
                    <span class="text-sm font-medium">₹<%= finalprice %></span>
                </div>
            </div>
            <div class="flex items-center"> 
                <span class="text-lg">Place Order</span>
                <i class="text-2xl ri-arrow-right-s-fill ml-1"></i>
            </div>
        </a>
    </div>
</div>

        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
                document.querySelector('.paybtn').onclick = function (e) {
                    axios.post('/payment/create/orderId')
                        .then(function (response) {
                            var options = {
                                "key": "rzp_test_itTvoWeSi1lZca", // Enter the Key ID generated from the Dashboard
                                "amount": response.data.amount, // Amount in currency subunits. Default currency is INR.
                                "currency": response.data.currency,
                                "name": "Blynk",
                                "description": "Test Transaction",
                                "image": "https://gplclub.co/wp-content/uploads/2024/09/favicon-gplclub-1-150x150.webp",
                                "order_id": response.data.id,
                                "handler": function (response) {
                                    axios.post('/payment/api/payment/verify', {
                                        razorpayOrderId: response.razorpay_order_id,
                                        razorpayPaymentId: response.razorpay_payment_id,
                                        signature: response.razorpay_signature
                                    })
                                    .then(function (response) {
                                        let { razorpayOrderId, razorpayPaymentId, signature } = JSON.parse(response.config.data);
                                        window.location.href = `/order/<%= userid %>/${razorpayOrderId}/${razorpayPaymentId}/${signature}`;
                                    })
                                    .catch(function (error) {
                                        console.error(error);
                                    });
                                },
                                "prefill": {
                                    "name": "Harsh Sharma",
                                    "email": "harsh.sharma@example.com",
                                    "contact": "9000090000"
                                },
                                "notes": {
                                    "address": "Razorpay Corporate Office"
                                },
                                "theme": {
                                    "color": "#3399cc"
                                }
                            };
                            var rzp1 = new Razorpay(options);
                            rzp1.open();
                            e.preventDefault();
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                };
            </script>
            
    </body>

    <%- include('./partials/footer'); %>